// Variables de estilo
$font-primary: 'Helvetica', sans-serif;
$font-secondary: 'Segoe UI', sans-serif;
$base-color: #f4ffb3;
$darken-factor: 10%; // Factor de oscurecimiento de bordes

// Estilos globales
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: $font-primary;
}

header img{
    width: 100%;
    display: block;
}

nav ul{
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 1rem;
    margin-bottom: 20px;
    border: 1px solid darken($base-color, $darken-factor);
    background: $base-color;
    padding: 40px;
}

li a{
    text-decoration: none;
    color: #71b9e9;
    font-weight: bold;
    padding: 30px;
    color: rgb(53, 86, 175);
}


// Titulares
h1{
    font-size: 48px;
    font-family: $font-secondary;
}

h2{ font-size: 40px; }
h3{ font-size: 32px; }
h4{ font-size: 24px; }
h5{ font-size: 16px; }
h6{ font-size: 8px; }

// Textos lado a lado
.textos{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    margin-top: 20px;
}
.texto1, .texto2{
    flex: 1;
    margin: 0 0.5rem;
    font-size: 16px;
    border: 6px solid rgb(19, 31, 162);
}


// Cartas en columnas de 3
.cartas{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    padding: 1rem;
    
}

.carta{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    border: 3px solid lighten($base-color, $darken-factor);
    background: $base-color;
}
img{
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
}

p{
    margin: 0.5rem 0;
    text-align: center;
    font-size: 14px;
}

button{
    padding: 0.5rem 1rem;
    border: none;
    background-color: #51233a;
    color: #fff;
    cursor: pointer;
    margin: 10px;
}

.avisos{
    display: grid;
    grid-template-columns: repeat(1fr);
    gap: 1rem;
    padding: 1rem;
}

.aviso{
    display: flex;
    align-items: center;
    padding: 1rem;
    border: 5px solid darken(yellow, $darken-factor);
    background: yellow;
}

.aviso2{
    display: flex;
    align-items: center;
    padding: 1rem;
    border: 5px solid darken(red, $darken-factor);
    background: red;
}

.aviso3{
    display: flex;
    align-items: center;
    padding: 1rem;
    border: 5px solid darken(green, $darken-factor);
    background: green;
}

.aviso4{
    display: flex;
    align-items: center;
    padding: 1rem;
    border: 5px solid darken(blue, $darken-factor);
    background: blue;
}

.aviso5{
    display: flex;
    align-items: center;
    padding: 1rem;
    border: 5px solid darken(cyan, $darken-factor);
    background: cyan;
}

.aviso6{
    display: flex;
    align-items: center;
    padding: 1rem;
    border: 5px solid darken(pink, $darken-factor);
    background: pink;
}

i.icon{
    font-size: 24px;
    margin-right: 1rem;
}

p{
    font-family: $font-secondary;
    margin: 0;
}

p.carta{
    padding: 40px;
}



